.register-container {
  /* Updated container name */
  min-height: 100vh; /* Ensure full viewport height */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  padding: 20px 0; /* Add top and bottom padding */
}

.form-column {
  width: 450px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
.borderBlack {
  border: 2px solid var(--accent);
}
.btnContainer > button {
  width: 30%;
}
.bottomLinkContainer {
  opacity: 0.7;
  transition: all 250ms ease-out;
}
.bottomLinkContainer > p > a {
  text-decoration: none;
  color: var(--neutral);
}

.bottomLinkContainer:hover {
  color: var(--accent);
  text-decoration: underline;
  opacity: 1;
}
