.btn-flat {
  background-color: var(--primary);
  color: var(--accent);
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: all 100ms ease-in;
}

.btn-flat:hover {
  background-color: var(--primary) !important;
  color: var(--accent);
  transform: scale(1.1);
}
.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
.outline {
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  transition: all 100ms ease-in;
  margin-bottom: 1em;
}
.btn-flat.outline:hover {
  background-color: var(--secondary) !important;
  border: 1px solid var(--primary);
  color: var(--accent);
}
