.carousalContainer {
  height: 100%;
  margin-inline: auto;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 2em;
  box-shadow: 10px 10px 30px var(--accent);
  transition: transform 250ms ease-in-out;
}
img {
  object-fit: cover;
}
.carousalContainer:hover {
  transform: scale(1);
}
.my-carousel-container {
  position: relative;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  font-size: 28px;
  color: #333; /* Darker color for contrast */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Optional: subtle shadow */
}

.carousel-control.prev {
  left: 20px;
}

.carousel-control.next {
  right: 20px;
}

.carousel-dots {
  display: flex;
}

.carousel-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  border: none; /* Remove default button border */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.carousel-dots button.active {
  background-color: #777;
}

.carousel-dots {
  display: flex;
  justify-content: center; /* Centers the dots horizontally */
}

.vh-75 {
  height: 75vh;
  width: 50vw;
}
